<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="routing" patternSyntax="Wildcard">
                    <match url="*" />
                    <action type="Rewrite" url="/Amestec/index.html" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="off" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
